.readme {
    text-align: left;
}

.readme pre {
    border-radius: .5em;
    background: #f0f0f0;
    padding: .7em;
}

.readme h1, .readme h2,
.readme h3, .readme h4,
.readme h5, .readme h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-top: 24px;
    margin-bottom: 16px;
}

.readme h1, h2 {
    padding-bottom: .2em;
    border-bottom: 1px solid #d0d7de;
}

.readme table {
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

.readme table td,
.readme table th,
.readme table tr {
    border: 1px solid darkgrey;
    padding: .2em;
}

.readme table tbody {
    text-align: left;
}

.readme table thead {
    text-align: center;
}

.readme table tr:first-child th {
    border-top: 0;
}
.readme table tr:last-child td {
    border-bottom: 0;
}
.readme table tr td:first-child,
.readme table tr th:first-child {
    border-left: 0;
}
.readme table tr td:last-child,
.readme table tr th:last-child {
    border-right: 0;
}

.readme .even {
    background: #f3f3f3;
}

.card .card-body .card-text,
.card .card-body .card-title {
    overflow-y: hidden;
    text-overflow: clip;
    max-height: 3em;
    line-height: 1.5em;
}

.card-img-top {
    width: 100%;
    height: 16rem;
    object-fit: scale-down;
}

.card {
    padding-top: 1rem;
}

.resume code{white-space: pre-wrap;}
.resume span.smallcaps{font-variant: small-caps;}
.resume span.underline{text-decoration: underline;}
.resume div.column{display: inline-block; vertical-align: top; width: 50%;}
.resume div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
.resume ul.task-list{list-style: none;}

.resume {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  background: #FFFFFF;
  padding: 10px 10px 10px 10px;
}

/* Title of the resume */
.resume h1 {
  font-size: 55px;
  color: #757575;
  text-align:center;
  margin-bottom:15px;
}

/* Titles of categories */
.resume h2 {
  /* This is called "sectioncolor" in the ConTeXt stylesheet. */
  color: #397249;
    font-weight: bolder;
}

/* There is a bar just before each category */
.resume h2:before {
  content: "";
  display: inline-block;
  margin-right:1%;
  width: 16%;
  height: 10px;
  /* This is called "rulecolor" in the ConTeXt stylesheet. */
  background-color: #9CB770;
}

/*!* Definitions *!*/
.resume dt {
    float: left;
    clear: left;
    font-weight: bolder;
}

.resume p {
  margin-top:0;
  margin-bottom:7px;
}

/* Blockquotes */
.resume blockquote {
  text-align: center
}

/* Links */
.resume a {
  text-decoration: none;
  color: #397249;
}
.resume a:hover, .resume a:active {
  background-color: #397249;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
.resume hr {
  color: #A6A6A6;
}

.resume table {
  width: 100%;
}