body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div.cell {
    background: #ffffff;
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 3px;
    margin: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

@media screen and (max-width: 760px) {
    .grid-row {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    div.cell {
        grid-column: auto;
        grid-row: auto;
    }
}