{% extends 'projects/base.html' %}
{% block content %}
    <div class="row d-sm-flex align-items-center justify-content-center text-center mx-1">
        <!-- Title, Image, Description -->
        <div class="col-md-8 my-4">
            <h1>{{ project.name }}</h1>
            {% if project.image %}
                <img src="{{ project.image.url }}" class="img-fluid" alt="">
            {% endif %}
            <p>{{ project.description }}</p>
            <!-- README -->
            {% if project.readme %}
                <div class="my-5 border rounded border-dark" style="text-align: left; padding: 10px">
                    {{ project.readme|safe }}
                </div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <!-- Tech Stack -->
            <div class="row">
                <h1>Tech Stack</h1>
                {% for tech in project.techs.all %}
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a class="thumbnail" href="{{ tech.website }}">
                            <img class="img-fluid" src="{{ tech.logo.url }}" alt="">
                        </a>
                        <p>{{ tech.name }}</p>
                    </div>
                {% endfor %}

                <!-- Github link -->
                {% if project.github %}
                    <div>
                        <a class="btn btn-primary my-1 mx-3" href="{{ project.github }}" style="width: 50%">
                            Github
                        </a>
                    </div>
                {% endif %}

                <!-- Deployed on -->
                {% if project.website %}
                    <div>
                        <a class="btn btn-primary my-1 mx-3" href="{{ project.website }}" style="width: 50%">
                            Deployed here
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}